<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>CEUNI - Plantel Valle Tehuacán</title>
    <link rel="stylesheet" href="../foundation/css/foundation.css">
    <link rel="stylesheet" href="../foundation/css/main.css">
  </head>
  <body>
    <section class="top-bar">
      <div class="top-bar-left">
          <ul class="menu">
            <li class="menu-text">Sistema CEUNI</li>
          </ul>
        </div>

      <div class="top-bar-right">
        <ul class="menu">
          <li><a href="#">Inicio</a></li>
          <li><a href="#">Oferta Académica</a></li>
          <li><a href="#">Alumnos</a></li>
          <li><a href="#">Sitio Corporativo</a></li>
        </ul>
      </div>
    </section>

  </body>
</html>
